<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px" class="main-container">

  <mat-card>


    <form [formGroup]="this.form" (ngSubmit)="onSubmit()" fxLayout="column" #formDirective="ngForm">

      <mat-form-field>
        <mat-label>Název</mat-label>
        <input formControlName="name" required matInput placeholder="Name" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Druh</mat-label>
        <mat-select formControlName="kind" required>
          <mat-option *ngFor="let kind of this.kindOptions" [value]="kind">
            {{kind}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div fxlayout="row" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label>Začátek</mat-label>
          <input formControlName="dateStart" required matInput placeholder="Start" type="datetime-local">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Začátek</mat-label>
          <input formControlName="timeStart" required matInput placeholder="Start" type="time">
        </mat-form-field>

        <button mat-raised-button (click)="setTimeInput('timeStart')" type="button">Ted</button>

      </div>

      <div fxlayout="row" fxLayoutGap="10px">

        <mat-form-field>
        <mat-label>Začátek</mat-label>
          <input formControlName="dateEnd" required matInput placeholder="Start" type="datetime-local">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Konec</mat-label>
          <input formControlName="timeEnd" required matInput placeholder="End" type="time">
        </mat-form-field>

        <button mat-raised-button (click)="setTimeInput('timeEnd')" type="button">Ted</button>

      </div>

      <button mat-raised-button color="primary" type="submit">Uložit</button>

    </form>
  </mat-card>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazev </th>
      <td mat-cell *matCellDef="let chore"> {{chore.name}} </td>
    </ng-container>

    <ng-container matColumnDef="kind" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Druh </th>
      <td mat-cell *matCellDef="let chore"> {{chore.kind}} </td>
    </ng-container>

    <ng-container matColumnDef="timeStart">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Zacatek </th>
      <td mat-cell *matCellDef="let chore"> {{chore.timeStart | date: 'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="timeEnd">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> konec </th>
      <td mat-cell *matCellDef="let chore"> {{chore.timeEnd | date: 'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let chore">

        <button mat-icon-button (click)="deleteChore(chore)" matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
